*,*:after,*:before{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  background-color: #fff;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  font-size: 1.6rem;
  font-weight: 400;
  color:#000;
}
a:hover,a:visited,a:focus,a:link{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
/* i am coding */
.cards{
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.cards .card__info{
  padding:30px 40px 20px 10px;
}
.card__info h3{
  font-size: 2rem;
}
.card__info a{
  border: 1px solid #007BFF;
  padding:10px 10px;
  background-color: #007BFF;
  color:#fff;
  border-radius: 5px;
  margin-top: 2rem;
}
.card__info a:hover{
  background-color: #0069D9;

}
